<%= form_with(model: illust, local: true) do |form| %>
  <% if illust.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(illust.errors.count, "error") %> prohibited this illust from being saved:</h2>

      <ul>
      <% illust.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>

  <div class="field">
    <%= form.label :memo %>
    <%= form.text_area :memo %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_area :author %>
  </div>

  <div class="field">
    <%= form.label :illust %>
    <%= form.text_field :illust %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
