<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @illust.title %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @illust.memo %>
</p>

<p>
  <strong>Author:</strong>
  <%= @illust.author %>
</p>

<p>
  <strong>Illust:</strong>
  <%= image_tag(@illust.illust_url) if @illust.illust.present? %>
</p>

<%= link_to "いちくらへシェア", "https://mastoshare.net/post.php?text=#{User.find(@illust.user_id).uid}さんの#{@illust.title}を見ました！"%>

<%= link_to 'Edit', edit_illust_path(@illust) %> |
<%= link_to 'Back', illusts_path %>
