<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @illust.title %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @illust.memo %>
</p>

<p>
  <strong>Author:</strong>
  <%= @illust.author %>
</p>

<p>
  <strong>Illust:</strong>
  <%= image_tag(@illust.illust_url) if @illust.illust.present? %>
</p>

<a href="https://masha.re/#https%3A%2F%2Fmasha.re%2F%23%E4%BD%9C%E5%93%81%E3%82%92%E8%A6%8B%E3%81%BE%E3%81%97%E3%81%9F%EF%BC%81" target="_blank"><img src="https://masha.re/share.png"></a>

<%= link_to 'Edit', edit_illust_path(@illust) %> |
<%= link_to 'Back', illusts_path %>
