<header>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "いちくらイラスト投稿", root_path, :class => "navbar-brand" %>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><%= link_to "Top", root_path %></li>
          <li><%= link_to 'イラスト投稿', new_illust_path %></li>
          <li><%= link_to "ソースコード", "https://github.com/S-H-GAMELINKS/ichiji-illust" %></li>
          <li><%= link_to("ログアウト", destroy_user_session_path, method: :delete) %></li>
        <% else %>
          <li><%= link_to "いちくらログイン", user_mastodon_omniauth_authorize_path %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>